[submodule "frontend"]
	path = frontend
	url = git@github.com:kuehlfrank/frontend.git
	branch = main
[submodule "backend"]
	path = backend
	url = git@github.com:kuehlfrank/backend.git
        branch = main
[submodule "database"]
	path = database
	url = git@github.com:kuehlfrank/database.git
	branch = main
